<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/links.css')}}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
</head>

<body>
<div class="hero-head">
        <header class="navbar is-link">
            <div class="container">
                <div class="navbar-brand">
                    <a>
                        <img src="{{url_for('static', filename='Images/logo.png')}}" style="height: 75px" alt="Logo">
                    </a>
                    <div class="navbar-item">
                        <div class="greet_div">
                          <div class="info">
                            <p class="greet">Hello {{ session.username }}</p>
                          </div>
                        </div>
                    </div>
                    <span id="burger" class="navbar-burger">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                </div>
                <div class="navbar-menu" id="nav-links">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{url_for('main_page')}}">
                            Main
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <table>
                        <tr>
                            <h1 style="text-align: center; color: #00008B" class="title is-3 is-spaced">Log in</h1>
                        </tr>
                        <tr>
                            <form method="POST" action="{{ url_for('login') }}" onsubmit="return encrypt_pass()">
                                <!-- username -->
                                <div class="field">
                                    <label class="label">Username</label>
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" name="username" maxlength="15"
                                               placeholder="Username" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                          </span>
                                    </div>
                                </div>
                                <!-- password -->
                                <div class="field">
                                    <label class="label">Password</label>
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" name="password" maxlength="15"
                                               placeholder="Password" id="password" required>
                                        <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                                    </p>
                                </div>
                                <!-- submit -->
                                <div class="field">
                                    <p class="control">
                                        <button type="submit" class="button is-success">
                                            Login
                                        </button>
                                    </p>
                                </div>
                            </form>
                            {% if cred_error %}
                            <article class="message is-danger">
                                <div class="message-header">
                                    <p>{{cred_error}}</p>
                                </div>
                            </article>
                            {% endif %}
                        </tr>
                        <tr>
                            <div class="already_registered">
                                Not registered?
                                <a class="link" style="color: #c4b962;" href="{{ url_for('register') }}">Register</a>
                            </div>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>
</html>